<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>arsenalpay</name>
	<displayName><![CDATA[Arsenalpay]]></displayName>
	<version><![CDATA[1.0]]></version>
	<description><![CDATA[Accept payments with arsenalpay]]></description>
	<author><![CDATA[ArsenalMedia]]></author>
	<tab><![CDATA[payments_gateways]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to delete your details?]]></confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>